@using TaiKang.Web.Areas.Mpa.Models.Common.Modals
@model TaiKang.Web.Areas.Mpa.Models.Jobs.CreateOrEditJobModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? "编辑职位" : "创建职位"))

<div class="modal-body">
    <form role="form" novalidate class="form-validation">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control" type="text" name="JobName" value="@Model.JobName" required>
            <label for="JobName">职位名称</label>
        </div>

        <div class="form-group">
            <label for="JobDescription">岗位描述</label>
            <textarea name="JobDescription">@Model.JobDescription</textarea>
        </div>
        <div class="form-group form-md-line-input">
            <textarea name="Requirements" class="form-control" rows="3" placeholder=""></textarea>
            <label for="Requirements">岗位要求</label>
        </div>
        <div class="form-group">
            <label for="Responsibilities">岗位职责</label>
            <textarea name="Responsibilities">@Model.JobDescription</textarea>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="checkbox" name="IsActive" value="true" @Html.Raw(Model.IsActive ? "checked=\"checked\"" : "")>
            <label>有效？</label>
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
