@using Abp.Web.Mvc.Extensions
@using TaiKang.Web.Navigation
@using TaiKang.Authorization
@model TaiKang.Tk.CompanyIntroduce
@{
    ViewBag.Title = "品牌介绍";
    ViewBag.CurrentPageName = PageNames.App.Management.CompanyIntroduce;
}

@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/CompanyIntroduce/Index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/CompanyIntroduce/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h2>品牌介绍编辑</h2>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
      
    </div>
</div>

<div class="portlet light margin-bottom-0">
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form class="form-horizontal" role="form" action="@Url.Action("Save")">
                    @Html.HiddenFor(x=>x.Id)
                    <div class="form-group">
                        <label for="CompanyName" class="control-label col-xs-1">公司名称</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="CompanyName" value="@Model.CompanyName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BrandStory" class="control-label col-xs-1">品牌故事</label>
                        <div class="col-xs-10">
                            <textarea rows="10" cols="100" name="BrandStory">@Model.BrandStory</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Qualification" class="control-label col-xs-1">荣誉资质</label> 
                        <div class="col-xs-10">
                            <textarea rows="10" cols="100" name="Qualification">@Model.Qualification</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label col-xs-1">简介</label>
                        <div class="col-xs-10">
                            <textarea rows="10" cols="100" name="Introduce">@Model.Introduce</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Image" class="control-label col-xs-1">图片</label>
                        <div class="col-xs-10">
                           <input type="file" name="Image"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" id="SaveCompanyIntroduceButton" class="btn btn-primary blue"> 保存</button>
                        </div>
                           
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

